<!DOCTYPE html>
<html>

<head>
	<title>Login Page</title>
	<!--Made with love by Mutiullah Samim -->

	<!--Bootsrap 4 CDN-->


	<!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->


	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="row justify-content-center align-items-center minh-100">
			<div class="card">
				<div class="card-header">
					<h3>Ingresar</h3>
					<div class="block">Digite sus claves de acceso</div>
				</div>
				<div class="card-body">
					<form (ngSubmit)="login()" #FormInicioSesion="ngForm">
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<!--pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@+[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$"-->
							<input type="text" class="form-control" id="username" name="username" placeholder="username"
								#fieldUserEmail="ngModel" [(ngModel)]="formData.username" required>
						</div>
						<p class="block-tag text-left"
							*ngIf="fieldUserEmail.invalid && (fieldUserEmail.dirty || fieldUserEmail.touched)">
							<small class="badge badge-default badge-danger" *ngIf="fieldUserEmail.errors.required">
								Campo Requerido
							</small>
							<!--	<small class="badge badge-default badge-danger" *ngIf="fieldUserEmail.errors.pattern">
								Formato de correo inválido
							</small>-->
						</p>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" class="form-control" id="password" name="password"
								placeholder="contraseña" #fieldUserPassword="ngModel" [(ngModel)]="formData.password"
								required>
						</div>
						<p class="block-tag text-left"
							*ngIf="fieldUserPassword.invalid && (fieldUserPassword.dirty || fieldUserPassword.touched)">
							<small class="badge badge-default badge-danger" *ngIf="fieldUserPassword.errors.required">
								Campo Requerido
							</small>
						</p>
						<div class="row align-items-center remember">
							<input type="checkbox">Recuerdame
						</div>
						<div class="form-group">
							<input type="submit" value="Ingresar" class="btn float-right login_btn"
								[disabled]="!FormInicioSesion.valid">
						</div>
					</form>
				</div>

			</div>
		</div>
		<div class="row justify-content-center align-self-center">
			<div class="card-body">
				<div class="d-flex justify-content-center links">
					¿No estás registrado?<a routerLink="/main">Registrarse</a>
				</div>
				<div class="d-flex justify-content-center">
					<a routerLink="/navegacion">¿Olvidaste tu contraseña?</a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>